@font-face {
    font-family: Titanfall;
    src: url('/assets/titanfall.ttf');
}

* {
    box-sizing: border-box;
}
body {
    background: #141a32;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#videofull {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background: url(/assets/NorthstarPromoPoster.jpg) center / cover; */
    overflow: hidden;
}
#videofull > video {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: blur(0.5vw);
}
#videofull > .overlay {
    background-color: rgba(20, 26, 50, 0.5);
    background: linear-gradient(180deg, rgba(20, 26, 50, 0.5) 0%, rgba(20, 26, 50, 0.5) 85%, rgba(20, 26, 50, 1) 100%);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
#centerlogo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    width: max-content;
    user-select: none !important;
    pointer-events: none;
    filter: drop-shadow(0px 4px 16px rgba(0,0,0,0.75));
}
#centerlogo > .logo {
    width: 192px;
    height: 192px;
    vertical-align: middle;
}
#centerlogo > .northstartext {
    font-family: Titanfall, Arial, Helvetica, sans-serif;
    font-size: 84px;
    vertical-align: middle;
    margin-right: 16px;
}
#centerlogo > .northstartext::before {
    content: '';
    height: 128px;
    width: 8px;
    margin-left: 12px;
    margin-right: 32px;
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    transform: skewY(-25deg);
    box-shadow: rgba(127,127,127,0.5) 5px 5px 0px;
}
#mainbuttons {
    position: absolute;
    top: calc(30% + 256px - 72px);
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    width: max-content;
    user-select: none !important;
    text-align: center;
}
#videofull .northstardescription {
    /* position: absolute;
    top: calc(30% + 256px - 72px);
    left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    vertical-align: middle;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
#videofull .northstardescription .tfdivider {
    height: 18px;
    width: 2px;
    margin-left: 4px;
    margin-right: -3px;
    vertical-align: text-bottom;
    display: inline-block;
    background-color: white;
    transform: skewY(-25deg);
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
    #centerlogo {
        filter: drop-shadow(0px 0.4vw 1.6vw rgba(0,0,0,0.75));
    }
    #centerlogo > .logo {
        width: 19.2vw;
        height: 19.2vw;
    }
    #centerlogo > .northstartext {
        font-size: 8.4vw;
        margin-right: 1.6vw;
    }
    #centerlogo > .northstartext::before {
        height: 12.8vw;
        width: 0.8vw;
        margin-left: 1.2vw;
        margin-right: 3.2vw;
        box-shadow: rgba(127,127,127,0.5) 0.5vw 0.5vw 0px;
    }
    #mainbuttons {
        top: calc(30% + 25.6vw - 7.2vw);
    }
    @media screen and (max-width: 480px) {
        #mainbuttons {
            width: fit-content;
        }
    }
}

a.big-button {
    margin: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 64px;
    background-color: rgba(33, 43, 78, 0.9);
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-decoration: none;
    height: 50px;
    white-space: nowrap;
}

a.big-button > span {
    vertical-align: middle;
}
a.big-button > img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    transform: scale(1.25);
    margin-right: 12px;
    pointer-events: none;
}

#topbg {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: rgba(0,0,0,0.1);
    z-index: -1;
}
#top {
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 100;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s;
}

.pane {
    background: #141a32;
    padding: 32px 0px 0px 0px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.pane > .section {
    font-family: Titanfall; 
    font-weight: 900;
    font-size: 48px;
    margin: 0;
    width: 100vw;
    text-align: center;
    margin-top: -1em;
    margin-bottom: 0.5em;
}

a {
    color: white
}

li {
    line-height: 1.5;
}
ol img {
    width: 256px;
}
code {
    font-size: 15px;
    background: #eeeeee;
    border-radius: 2px;
    color: #141a32;
    padding: 1px 6px;
    vertical-align: bottom;
}

.tffont {
    font-family: Titanfall, Arial, Helvetica, sans-serif;
}

.contributors { 
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.coreuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 0px;
    font-size: 0.9em;
    max-width: 12em;
    pointer-events: none;
}

.small > .coreuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 0.9em;
    width: 7vw;
}

@media screen and (max-width: 1280px) {
    .coreuser {
        max-width: 12em;
        min-width: 12em;
        margin: 0.2em;
    }
    .small > .coreuser {
        min-width: 10em;
        max-width: 10em;
        margin-bottom: 0em;
    }
}

.coreuser > img {
    height: 6em;
    width: 6em;
    align-self: center;
    border-radius: 100%;
    margin: 1em;
    pointer-events: all;
    cursor: pointer;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out;
}

.coreuser > img:hover {
    filter: brightness(50%);
    height: 7em;
    width: 7em;
    margin: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out;
}

.small > * > img {
    height: 6em;
    width: 6em;
    margin: 1em;
    align-self: center;
    border-radius: 100%;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out;
}

.small > * > img:hover {
    filter: brightness(50%);
    height: 7em;
    width: 7em;
    margin: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out;
}

.header {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    flex-direction: row;
}

.name {
    font-family: Titanfall;
    font-size: 1.3em;
    align-self: center;
    margin-left: -0.1em;
    font-weight: light;
    white-space: wrap;
}
.blurb {
    padding-bottom: 1em;
    text-align: center;
    color: #999;
    text-overflow: wrap;
    height: 3em;
}

@media screen and (max-width: 1280px) {
    .coreuser > .blurb {
        padding-bottom: 1em;
        min-height: 5em;
    }
}

.buttons {
    display: flex;
    position: relative;
    left: -8px;
}

.button {
    margin: 6px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 12px;
    border-radius: 64px;
    background-color: rgba(37, 45, 80, 0.9);
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1em;
    text-align: center;
}

.coreuser > * > .button {
    width: 100%;
}

.button:hover {
    background-color: rgba(30, 40, 74, 0.9);
}

.button:active {
    background-color: rgba(20, 30, 60, 0.9);
}

img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    pointer-events: none;
    margin-top: -2px;
}

.center {
    display: flex;
    justify-content: center;
}