@font-face {
    font-family: Titanfall;
    src: url('/assets/titanfall_new.ttf');
}

input[type="checkbox"][id^="cb"] {
    display: none;
}

label {
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    user-select: none !important;
    display: none;
}

label img {
    height: 2.5em;
    width: 2.5em;
    margin-left: 1.1em;
    margin-top: 0.25em;
    display: none;
}

#top {
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 100;
    transition: background-color 0.2s;
    background-color: rgba(8, 10, 20, 0.0);
}

.spacer {
    width: 100%;
}

#toplinks {
    display: flex;
    flex-direction: row;
}

.top-link {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 16px;
    padding: 24px 32px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-decoration: none;
    user-select: none !important;
    font-family: Titanfall;
}
.top-link:hover {
    background-color: rgba(0,0,0,0.25);
}
.top-link:active {
    background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 960px) {
    .menu-selector {
        display: inline;
    }
    #toplinks {
        width: 0vw;
        height: 100vh;
        overflow-x: hidden;
        flex-direction: column;
        transition: width 0.2s, background-color 1s;
    }
    label img {
        display: inline;
    }
    label {
        display: block;
    }
    #top {
        background-color: rgba(8, 10, 20, 0.9);
    }
    :checked ~ #toplinks {
        display: flex;
        background-color: rgba(8, 10, 20, 0.9);
        height: 100vh;
        width: 100vw;
        transition: width 0.2s, background-color 0s;
    }
    .top-link {
        display: inline;
    }
}