@font-face {
    font-family: Titanfall;
    src: url('/assets/titanfall_new.ttf');
}

#top {
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 100;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s;
}

#toplinks {
    display: flex;
}

.spacer {
    width: 100%;
}

.top-link {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 16px;
    padding: 24px 32px;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    color: white;
    text-decoration: none;
    user-select: none !important;
    font-family: Titanfall;
}
.top-link:hover {
    background-color: rgba(0,0,0,0.25);
}
.top-link:active {
    background-color: rgba(0,0,0,0.5);
}