---
import { review_counts } from "../data/reviewer-count-monthly";
---

<div class="TODO">
    <table>
        <tr>
            <th>Reviewer</th>
            <th># of reviews</th>
        </tr>
        {
            review_counts
                .sort((a, b) => b.count - a.count)
                .map((reviewer) => (
                    <tr>
                        <td>{reviewer.name}</td>
                        <td>{reviewer.count}</td>
                    </tr>
                ))
        }
    </table>
</div>
